<div class="container main-wrapper">
    <div class="row">
        <% @users.each do |user| %>
            <div class="col-md-3">
                <div class="user-card" >
                    <div class="user-card-body">
                        <div class="user-thumb">
                            <%= image_tag user.profile.avatar.url(:thumb),  alt: "Card image cap"  %>
                        </div>
                        
                        <div class="user-name title-bold title-black">
                            <%= user.login %>
                        </div>
                        <div class="user-location title-normal title-black-light">
                            <%= "#{user.profile.city}, #{user.profile.country}" %>
                        </div>
                        <div class="send-flirt">
                            <button class="btn btn-outline-primary">Flirter</button>
                        </div>
                    </div> 
                    <div class="user-card-footer">
                    </div>
                </div>
            </div>
        <% end %>
 
    </div>
</div>