<div class="container main-wrapper">
    <div class="row">
        <% @users.each do |user| %>
            <div class="col-md-3">
                <div class="user-card" >
                    <div class="user-card-body">
                        <%= link_to  show_his_profile_path(user.slug) do  %>
                            <div class="user-thumb">
                                <%= image_tag user.profile.avatar.url(:thumb),  alt: "Card image cap"  %>
                            </div>
                        <% end %>
                        
                        <div class="user-name title-bold title-black">
                            <%= link_to "#{user.profile.first_name} #{user.profile.last_name}", show_his_profile_path(user.slug) %>
                        </div>
                        <div class="user-location title-normal title-black-light">
                            <%= "#{user.profile.city}, #{user.profile.country}" %>
                        </div>
                        <div class="send-flirt">
                            <button class="btn btn-outline-primary">Flirter</button>
                        </div>
                    </div> 
                    <div class="user-card-footer">
                    </div>
                </div>
            </div>
        <% end %>
 
    </div>
</div>