<div class="container">
    <div class="row">
        <% @users.each do |user| %>
            <div class="col-md-3">
                <div class="card" >
                    <%= image_tag user.profile.avatar.url(:thumb), class: "card-img-top", alt: "Card image cap"  %>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="user-login">
                                    <strong>
                                        <%= user.login %>
                                    </strong>
                                </div>
                            </div>
                            
                        </div>

                        <p class="card-text">
                            <div class="location">
                                <%= " #{user.profile.country}" %>
                            </div>
                        </p>
                       
                    </div>
                </div>
            </div>
        <% end %>
 
    </div>

        
    </div>
</div>