<div class="footer-one">

	

    <div class="container">
        <div class="row">
			<div class="col-md-6 copyright">
				&copy; Flirtera <%= Time.now.year %>. Tous droits Réservés. 
			</div>

			<div class="col-md-6">
				<div class="social-link">
					<div class="text-center">
	                
	                
	                <a href="https://www.facebook.com/imofy.official/" class="btn btn-social-icon btn-facebook" target="_blank"><i class="fa fa-facebook"></i>
	                </a>
	              
	                
	                <a href="https://plus.google.com/u/6/105575247260435852508" class="btn btn-social-icon btn-google" target="_blank"><i class="fa fa-google-plus"></i>
	                </a>

	                <a href="https://www.instagram.com/imofy.official/" class="btn btn-social-icon btn-instagram" target="_blank"><i class="fa fa-instagram"></i></a>

	                <a href="https://www.linkedin.com/in/imofy-job-a42b5714a/" class="btn btn-social-icon btn-linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
	               
	                <a href="https://twitter.com/imofy_official" class="btn btn-social-icon btn-twitter" target="_blank"><i class="fa fa-twitter"></i></a>
	                
	              </div>
				</div>
			</div>

		</div>

    </div>
</div>

