<div aria-label="Facebook" class="_26z1" role="contentinfo">
    <div class="fsm fwn fcg">
        <a href="https://www.facebook.com/privacy/explanation" title="En savoir plus sur Facebook et le respect de votre vie privée.">
            Confidentialité
        </a>
        <span role="presentation" aria-hidden="true"> 
            ·
        </span>
        <a accesskey="9" href="https://www.facebook.com/policies?ref=pf" title="Prenez connaissance des conditions générales et des règlements.">
            Conditions générales
        </a>
        <span role="presentation" aria-hidden="true"> 
            · 
        </span>
        <a href="https://www.facebook.com/ad_campaign/landing.php?placement=pf_rhc&amp;campaign_id=242449722530626&amp;extra_1=auto" title="Diffusez votre publicité sur Facebook.">
            Publicité
        </a>
        <span role="presentation" aria-hidden="true"> 
            · 
        </span>
        <a class="_41uf" href="https://www.facebook.com/help/568137493302217" title="En savoir plus sur Choisir sa pub.">
            Choisir sa pub <i class="img sp_Jws0RhsyAOa sx_86dca8"></i>
        </a>
        <span role="presentation" aria-hidden="true"> 
            · 
        </span>
        <a href="https://www.facebook.com/help/cookies?ref_type=sitefooter" title="Cookies">
            Cookies
        </a>
        <span role="presentation" aria-hidden="true"> 
            · 
        </span>
        <div class="_6a uiPopover" id="u_jsonp_12_1">
            <a class="_45mr _p" aria-haspopup="true" aria-expanded="false" rel="toggle" href="#" role="button" id="u_jsonp_12_2">
            Plus<i class="img sp_Jws0RhsyAOa sx_53dcb1"></i>
            </a>
        </div>
        </div>
        <div>
        <span> Flirtera © 2018</span></div></div>